.OfferList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -20px;
	justify-content: center;
	.OfferItem {
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 20px;
		flex: 0 0 300px;
	}
}