.OfferItem {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 7px;
	background-color: #fff8;
	transition: background-color 0.5s ease-out;
	cursor: pointer;
	align-items: stretch;
	justify-content: space-between;
	text-decoration: none;
	color: #333;
	overflow: hidden;
	* { 
		cursor: pointer;
	}
	&:hover {
		background-color: #fff;
	}
	.imgBox {
		position: relative;
		padding-top: 50%;
		width: 50%;
		overflow: hidden;
		border-radius: 7px;
		flex: 0 0 auto;
		transition: margin 0.5s ease-out, width 0.5s ease-out, padding-top 0.5s ease-out;
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
		margin-right: 10px;
	}
	.description {
		flex: 0 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.priceBox {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		flex: 1 1 100%;
		.new {
			font-weight: 700;
			font-size: 20px;
			text-align: center;
		}
		.old {
			text-decoration: line-through;
			font-weight: 400;
			color: #999;
			font-size: 14px;
			text-align: center;
		}
		margin-bottom: 10px;
	}
	label {
		flex: 0 0 auto;
		color: #444;
		font-size: 14px;
		text-align: center;
		text-overflow: ellipsis;
		margin-bottom: 5px;
	}
}