#root .routeRoot .Delimeter {
	color: #e72e04;
    display: flex;
	flex: 0 0 auto;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    max-width: 700px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
	padding: 15px 0;
	&::after, &::before {
		height: 1px;
		position: absolute;
		left: -100px;
		right: -100px;
		background: linear-gradient(to right, #f2f2f2 0%, #e72e04 50%, #f2f2f2 100%);
		content: '';
	}
	&::after {
		top: 0;
	}
	&::before {
		bottom: 0;
	}
}

@media screen and (max-width: 920px) {
	.Delimeter {
		
	}
}