.preloader {
	animation: preloader 2s linear infinite;
	.path {
		stroke-dasharray: 1,500;
		stroke-dashoffset: 0;
		animation: path 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
		stroke-linecap: round;
	}
}	

@keyframes preloader {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes path {
	0% {
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124;
	}
}