.Header {
	background-color: #fff;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
	height: 60px;
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	.Title {
		flex: 0 0 auto;
		cursor: pointer;
		h1 {
			margin: 0;
			font-style: normal;
			font-size: 25px;
			font-weight: 400;
			color: rgb(136, 124, 124);
			b {
				font-size: 40px;
				color: #ff9900;
				letter-spacing: -3px;
				&.Digit {
					color: #e72e04;
				}
			}
		}
	}
}