.CategoryList {
	display: flex;
	width: 100%;
	.List {
		flex: 0 0 auto;
		margin-right: 15px;
		.categoryItem {
			padding-top: 4px;
			padding-bottom: 4px;
			font-size: 16px;
			font-weight: 500;
			cursor: pointer;
			background-color: #ff990000;
			transition: all 0.5s ease-in-out;
			padding-left: 0;
			color: #333;
			margin-right: 0;
			padding-right: 10px;
			&:hover {
				padding-left: 10px;
				margin-right: -10px;
				color: #fff;
				background-color: #ff990088;
			}
		}
	}
	.categoryView {
		flex: 1 1 100%;
		.OfferItem {
			flex: 0 0 120px;
			.description {
				flex-direction: column;
				.imgBox {
					margin-right: 0;
				}
			}
			label {
				display: none;
			}
			.imgBox {
				padding-top: 100%;
				width: 100%;
			}
		}
		.OfferList {
			margin-bottom: 0;
		}
		.ShowAllButton {
			margin-bottom: 20px;
			border-radius: 7px;
			border: 1px solid #e72e04;
			background-color: #fff;
			color: #e72e04;
			display: flex;
			height: 35px;
			font-size: 16px;
			align-items: center;
			justify-content: center;
			transition: all 0.5s ease-in-out;
			font-weight: 700;
			max-width: 400px;
			margin: auto;
			&:hover {
				color: #fff;
				background-color: #e72e04;
				cursor: pointer;
			}
		}
	}
	margin-bottom: 25px;
}

@media screen and (max-width: 920px) {
	.List {
		max-width: 100%;
	}
	.CategoryList .categoryItem {
		font-size: 20px !important;
		width: 100%;
		margin-bottom: 10px;
	}
}