html, body, #root {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	.routeRoot {
		padding: 15px 50px;
		overflow-y: auto;
		overflow-x: hidden;
		flex: 1 1 100%;
		display: flex;
		align-items: stretch;
		flex-direction: column;
		& > * {
			max-width: 1300px;
			margin: auto;
		}
	}
}
